__pycache__/
.venv
.env
.coverage
*.egg-info
.mypy_cache/
.ruff_cache/
.tox/
generated/
screenshots/
debug/
items/
*.log
training_data/
tests/test_data/contains/*
tests/test_data/contains_not/*
tests/test_data/bases/*
!tests/test_data/contains/example
