__pycache__/
.venv
.env
.coverage
*.egg-info
.mypy_cache/
.ruff_cache/
.tox/
.idea/
items/
*.log
tests/test_data/contains/*
tests/test_data/contains_not/*
tests/test_data/bases/*
!tests/test_data/contains/example
debug.html
data/
screen/target
